# various generics
importMethodsFrom(methods, "show")
importMethodsFrom(PreProcess, "summary")
importMethodsFrom(ClassDiscovery, "predict")

exportMethods("show", "summary", "predict")

# xv00-utility
export("balancedSplit")

# xv01-fittedModel
exportClasses("Modeler", "FittedModel")
export("Modeler", "FittedModel") # constructors
export("learn")

# xv02-xval
exportClasses("CrossVal", "CrossValSummary")
export("CrossVal")

# xv03-utility
export("learnPCALR", "predictPCALR",
       "learnRPART", "predictRPART",
       "learnLR", "predictLR",
       "learnSelectedLR", "predictSelectedLR",
       "learnTailRank", "predictTailRank",
       "learnKNN", "predictKNN",
       "learnCCP", "predictCCP")
