# various generics
import(methods)
importMethodsFrom(oompaBase,
                  "hist", "image", "plot")
importMethodsFrom(oompaBase,
                  "print", "summary", "as.data.frame")

exportMethods("hist", "image", "plot")
exportMethods("summary", "as.data.frame", "as.matrix")

# cp00-utility
export("maha")

# cp01-genalg
#export("crossover", "selectPair", "removeDuplicates")
exportClasses("GenAlg")
export("GenAlg", "newGeneration", "popDiversity")
export("simpleMutate", "selectionFitness", "selectionMutate")

